@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$black: #000000;
$shade-black: #111111;
$dark-gray: #1e1e1e;
$grey: #bfbfbf;
$white: #ffffff;
$dark-white: #f4f4f4;
$light-green: #65fd08;
$dark-green: #16BC4E;
$light-blue: #18c9c4;
$gradient: linear-gradient(90deg, $light-green, $dark-green);
$extra-bold: 800;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$montserrat: 'Montserrat', sans-serif;
$comfortaa: 'Comfortaa', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body {
    background-color: $black;
    color: $white;
    width: 100%;
}

header {
    position: relative;
    width: 100%;
    height: fit-content;

    & nav {
        width: 100%;
        height: calc(150px / 1080px * 100vh);
        background: $gradient;
        border-radius: 0 0 25px 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: $black;
        font-size: 2.25rem;
        font-family: $montserrat;

        & p {

            & a {
                text-decoration: none;
                color: $black;
            }

            &:first-of-type {
                font-size: 3rem;    
                font-family: $comfortaa; 
            }

            &:not(:first-of-type) {
                cursor: pointer;
                transition: all .1s ease-in-out;

                &:hover {
                    font-size: 2.45rem;
                    border-bottom: 2px solid $black;
                }
            }

        }

        & div {
            width: calc(100px / 1920px * 100vw);
            height: calc(100px / 1080px * 100vh);
            border-radius: 100%;
            background-color: $black;
            cursor: pointer;
            background-image: url(/sun.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

main {
    width: 100%;
    height: calc(1200px / 1080px * 100vh);

    & #arrow_box {
        display: block;
        margin-top: calc(50px / 1080px * 100vh);
        margin-left: calc(50px / 1920px * 100vw);
        width: calc(100px / 1920px * 100vw);
        height: calc(100px / 1080px * 100vh);
        background: url(/arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 45%;
        border: 0px solid $black;
        transition: all 0.25s ease;

        &:hover {
            border-radius: 50%;
            border: 2px solid $white;
        }
    }

    & h1 {
        font-family: $montserrat;
        font-size: 6rem;
        font-weight: $bold;
        text-align: center;
        padding-top: calc(100px / 1080px * 100vh);
    }

    & p {
        font-family: $montserrat;
        font-weight: $medium;
        font-size: 3.5rem;
        padding-top: calc(150px / 1080px * 100vh);
        padding-left: calc(100px / 1920px * 100vw);
    }

    & .container {
        display: flex;
        justify-content: center;
        padding-top: calc(85px / 1080px * 100vh);

        & .parent {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: calc(30px / 1920px * 100vw);
                grid-row-gap: calc(50px / 1080px * 100vh);
            }

        & a {
            text-decoration: none;
            color: $white;

            & .card {
                width: calc(340px / 1920px * 100vw);
                height: calc(150px / 1080px * 100vh);
                background-color:  $shade-black;
                border-radius: 15px;
                box-shadow: 4px 5px 10px $light-green;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                transition: all 0.25s ease-in-out;

                & img {
                    transition: all 0.25s ease-in-out;
                }

                &:hover {
                    background-color: $light-green;
                    box-shadow: 0px 0px 45px $light-green;
                    color: $shade-black;

                    & img {
                        filter: brightness(0);
                    }
                }

                & p {
                    padding: 0;
                    font-family: $montserrat;
                    font-size: 2rem;
                    font-weight: $regular;
                    margin-left: calc(15px / 1920px * 100vw);
                }
            }
        }

        & .div11 {
            & p {
                width: calc(225px / 1920px * 100vw);
                word-wrap: break-word;
                text-align: center;
            }
        }

        & .div12 {
            & p {
                width: calc(200px / 1920px * 100vw);
                word-wrap: break-word;
                text-align: center;
            }
        }

        & .div13 {
            & p {
                width: calc(250px / 1920px * 100vw);
                word-wrap: break-word;
                text-align: center;
            }
        }
        
        & .div14 {
            & p {
                width: calc(200px / 1920px * 100vw);
                word-wrap: break-word;
                text-align: center;
            }
        }
    }


}

footer {
    width: 100%;
    height: calc(540px / 1080px * 100vh);
    background-color: $dark-white;
    color: $black;
    justify-items: center;

    & h1 {
        padding-top: calc(50px / 1080px * 100vh);
        font-family: $montserrat;
        font-size: 3rem;
        font-weight: $semi-bold;
    }

    & #conteiner {
        padding-top: calc(161px / 1080px * 100vh);
        padding-bottom: calc(182px / 1080px * 100vh);
        width: calc(1470px / 1920px * 100vw);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    & #mail {
        position: relative;
        top: 0;
        left: -1vw;
    }
}